#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  main {
    flex: 8;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    .main-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
      align-items: stretch;
      text-align: center;

      > img {
        align-self: center;
      }

      form {
        input {
          height: 50px;
          border-radius: 8px;
          padding: 0 16px;
          background-color: #fff;
          border: 1px solid #a8a8b3;

          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }

        span {
          color: #ef4444;
          font-size: 12px;
          display: block;
          text-align: right;
          padding-inline: 8px;
          margin-top: 8px;
        }

        button {
          margin-top: 16px;
        }

        button,
        input {
          width: 100%;
        }
      }

      h2 {
        font-size: 24px;
        margin: 56px 0 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }

      p {
        font-size: 14px;
        color: #737380;
        margin-top: 16px;

        a {
          color: #e559f9;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #page-auth {
    flex-direction: column;
    main {
      min-height: 100vh;
      padding: 60px 40px;
    }
  }

  .new-room {
    aside {
      display: none;
    }
  }
}
