.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #835afd;
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  transition: all 0.3s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: #fff;
    border: 1px solid #ea4335;
    color: #ea4335;

    &:not(:disabled):hover {
      background-color: #ea4335;
      color: #fff;
      filter: brightness(1);
    }
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 14px;
    height: 40px;
    padding: 0 24px;
  }
}
