.question {
  background: #fefefe;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #835afd;
    border: 1px solid #835afd;
    color: #fefefe;

    sup,
    p {
      color: #fefefe;
    }

    svg path,
    svg circle {
      stroke: #fefefe;
    }

    button {
      &.like-button {
        &.liked {
          color: #fefefe;

          svg path,
          svg circle {
            stroke: #fefefe;
          }
        }
      }
    }

    footer {
      border-top: 1px solid #fefefe;

      .user-info {
        img {
          border: 2px solid #fefefe;
        }
        span {
          color: #fefefe;
        }
      }
    }
  }

  &.answered {
    background: #dbdcdd;
    border-color: #dbdcdd;

    sup,
    p {
      color: #737380;
    }

    button {
      &.like-button {
        &.liked {
          color: #a3a3a3;

          svg path,
          svg circle {
            stroke: #a3a3a3;
          }
        }
      }
    }

    footer {
      border-top: 1px solid #a3a3a3;

      .user-info {
        img {
          border-color: #a3a3a3;
          filter: grayscale(0.75);
        }
        span {
          color: #737380;
        }
      }

      svg path,
      svg circle {
        stroke: #a3a3a3;
      }
    }
  }

  sup {
    font-size: 10px;
    font-style: italic;
    color: #a3a3a3;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-inline: 8px;
    margin-top: 24px;
    border-top: 1px solid #e2e2e2;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        border: 2px solid #e559f9;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path,
          svg circle {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

@media (max-width: 480px) {
  .question {
    padding: 16px;
    p {
      font-size: 14px;
    }

    & footer {
      padding-top: 16px;
      padding-inline: 4px;
      > div {
        gap: 8px;
      }
      button {
        font-size: 14px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      & .user-info {
        span {
          font-size: 12px;
        }
      }
    }
  }
}
